@media(max-width:1200px) {
    .slider {
        .link {
            bottom: 10px;
        }
    }

    .project {
        &__work {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &-text {

                &-branding {
                    display: none;
                }

                &-vintage {
                    display: none;
                }
            }
        }

        &__footer {




            &-head {
                padding: 15px 0;
            }

            &-text {
                width: 78%;
                padding-bottom: 20px;
            }
            &-btn{
                margin-top: 20px;
            }
        }
       
    }

    .services {
        padding: 50px 0;

        &__text {
            margin: 0 auto 30px;
        }

        &__us {
            display: flex;
            justify-content: center;
        }

        &__servicesDesign {
            display: flex;
            justify-content: center;
            padding: 42px 0;
            width: 100%;
        }

        &__skils {
            margin: 0 auto;
        }
    }

    .impressed {
        &__text {
            text-align: center;
            margin: 0 auto;

            &-title {
                font-size: 32px;
            }

            &-subtitle {
                font-size: 20px;
            }

            &-cafe {
                font-size: 22px;
            }
        }

        &__mac {
            display: none;
        }
    }


}

@media (max-width:991px) {


    .contact {
        &__us {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__gps {
            margin: 30px 0;
        }

        &__form {


            &-head {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 0;
                width: 100%;

                &-input {
                    &:nth-child(2) {
                        margin: 20px 0;
                    }
                }

                &-comment {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0;
                    width: 100%;
                }

                &-button {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    margin: 0;
                    width: 100%;
                }
            }


        }
    }

    .testimonials {
        &__photo {
            width: 100%;
            text-align: center;
            padding-bottom: 29px;
        }

        &__text {
            text-align: center;
            padding: 0 25px;
        }
    }

    .project {
        &__work {
            margin: 0;

            &-whiskey {
                width: 100%;
                height: 324px;

                &:hover {
                    filter: brightness(15%);
                }
            }

            &-vintage {
                width: 100%;
                height: 324px;
                filter: brightness(15%);

                &:hover {
                    width: 100%;
                }
            }

            &-branding {
                width: 100%;
                height: 324px;
                filter: brightness(15%);

                &:hover {
                    width: 100%;
                }
            }
        }
    }


}

@media(max-width:768px) {


    .price {
        &__us {
            width: 93%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__blocks {
            width: 93%;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 600px;
            margin-bottom: 26px;
        }

        &__block {
            &-active {
                width: 95%;

                &-text {
                    position: absolute;
                    top: 5%;
                }

                &-btn {
                    padding: 24px 62px;
                }
            }
        }
    }

    .header {
        .nav {
            display: none;
        }
    }

    .slider {
        &__text {
            &-title {
                word-spacing: 8px;
                font-size: 26px;
                margin-bottom: 32px;
            }

            &-subtitle {

                p {
                    font-size: 10px;
                    width: 87%;
                    margin: 0 auto;
                }
            }
        }
    }

    .bouncy {
        padding: 50px 0;

        &__us {
            &-ipad {
                display: none;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            text-align: center;

            &-title {
                text-align: center;
                margin: 0;
                padding-bottom: 30px;
            }

            &-text {
                margin-bottom: 35px;
            }
        }
    }

    .detalis {
        &__title {
            text-align: center;
        }

        &__subtitle {
            display: flex;
            justify-content: center;


            &-left {
                width: 100%;
                max-width: 471px;
            }

            &-right {
                width: 100%;
            }
        }
    }

    .project {
        &__footer {
            &-head {
                padding: 5px;
            }

            &-text {
                padding-top: 14px;
                width: 50%;
                font-size: 15px;
            }

            &-btn {
                padding-top: 30px;
                font-size: 15px;
            }
        }
    }

    .impressed {
        &__photo {
            padding: 30px 0;
        }
    }

    .team {
        padding: 55px 0;

        &__skils {
            align-items: center;


            &-text {
                text-align: center;
            }
        }

        &__us {
            display: flex;
            justify-content: center;
            margin-bottom: 55px;

            img {
                height: 351px;
                width: 400px;
                margin: 0 auto;
                padding-bottom: 20px;
            }
        }
    }

    .services {
        padding: 50px 0;

        &__skils,
        .progress {
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            &:nth-child(2) {
                margin: 25px 0;
            }
        }

        &__text {
            margin: 0 auto 30px;
        }

        &__us {
            display: flex;
            justify-content: center;
        }

        &__servicesDesign {
            display: flex;
            justify-content: center;
            padding: 42px 0;
            width: 100%;
        }

        &__skils {
            margin: 0 auto;
        }
    }
}



@media(max-width:480px) {


    .project {
        &__footer {
            height: 214px;

            &-photo {
                height: 214px;
            }

            &-head {
                padding: 5px;
                display: flex;

            }

            &-text {
                padding-top: 14px;
                width: 100%;
                font-size: 15px;
            }

            &-btn {
                padding-top: 30px;
                font-size: 15px;
                margin: 0 auto;
            }
        }
    }

    .services {
        &__menu {
            &-title {
                margin-bottom: 26px;
            }

            &-docimus {
                margin-bottom: 30px;
            }
        }
    }

    .impressed {
        &__photo {
            padding: 46px 0;
        }

        &__text {
            text-align: center;
            margin: 0 auto;

            &-title {
                font-size: 25px;
                margin-bottom: 25px;
            }

            &-subtitle {
                font-size: 15px;
                margin-bottom: 45px;
            }

            &-cafe {
                font-size: 18px;
            }
        }
    }

    .team {
        padding: 40px 0;

        &__skils {
            &-branding {
                display: none;
            }

            &-design {
                display: none;
            }

            &-user {
                display: none;
            }
        }

        &__item {
            &-title {
                margin-bottom: 25px;
            }

            &-subtitle {
                margin-bottom: 35px;
            }
        }
    }

    .testimonials {
        padding: 40px 0;

        &__us {
            margin: 0;
        }

        &__item {
            &-subtitle {
                margin-bottom: 35px;
            }
        }
    }

    .news {
        &__photo {
            padding: 40px 0;
        }

        &__text {
            &-subtitle {
                margin-bottom: 45px;
            }
        }

        &__inform {
            &-likes {
                margin-bottom: 30px;
            }

            &-text {
                margin-bottom: 40px;
            }
        }

        &__slider {
            display: none;
        }
    }

    .subscribe {
        &__photo {
            padding: 55px 0;
        }

        &__item {
            &-subtitle {
                margin-bottom: 30px;
            }
        }

        &__adress {
            width: 100%;
            margin-bottom: 20px;
        }

        &__submit {
            padding: 0;
            width: 100%;

            &-btn {
                width: 100%;
            }


        }

    }

    .contact {
        &__us {
            // display: flex;
            // justify-content: center;
            // align-items: center;
        }
    }
}