.testimonials {
    background-color: #f3f3f3;
    padding: 88px 0;

    &__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &-title {
            text-transform: uppercase;
            font-weight: 300;
            color: #333b46;
            line-height: 1;
            font-family: 'Source Sans Pro',
                sans-serif;
            font-size: 20px;
            margin-bottom: 41px;
        }

        &-subtitle {
            font-size: 14px;
            line-height: 1.5;
            width: 100%;
            max-width: 470px;
            text-align: center;
            color: #81868e;
            font-family: 'Open Sans',
                sans-serif;
            margin-bottom: 64px;
        }
    }

    &__us {
        background-color: #fff;
        margin: 55px 0;
    }

    &__use {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #fff;
        padding-top: 52px;
        margin: 0 auto;
        max-width: 969px;


    }

    &__photo {
        padding-left: 15px;
    }

    &__text {
        width: 100%;
        max-width: 741px;
        font-size: 16px;
        line-height: 1.7;
        font-family: 'Open Sans',
            sans-serif;
        color: #81868e;
        margin: 0 auto;

        &-text {
            margin: 0;
        }

        &-author {
            display: flex;
            flex-direction: column;
            margin-top: 32px;

            span {
                font-size: 16px;
                font-weight: 700;
                color: #19bd9a;
            }
        }


    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 0;

        &-circle {
            border: 2px solid #19bd9a;
            border-radius: 50px;
            width: 9px;
            height: 9px;

            &:hover {
                background-color: #16bd9a;
            }

            &:nth-child(2) {
                margin: 0 11px;
            }
        }
    }

}